<section>
        <div class="all  w-75">
            <div class="write text-center pb-3">
                <h1 class="text-uppercase">about component</h1>
                <span>
                    <i class="fa-solid fa-star pt-2"></i>
                </span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="content">
                        <p class="w-100">Freelancer is a free bootstrap theme created by
                            Route. The download includes the complete source
                            files including HTML, CSS, and JavaScript as well as
                            optional SASS stylesheets for easy customization.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content w-100">
                        <p class="w-100">Freelancer is a free bootstrap theme created by
                            Route. The download includes<br> the complete source
                            files including HTML, CSS, and JavaScript as well as
                            optional SASS stylesheets for easy customization.</p>

                    </div>
                </div>
            </div>
        </div>
   
</section>