
    <section class="one">
        <div class="all text-center ">
        
                <img src="/image/avataaars.svg"  alt="">
           
         
                <h1 class="pt-5">start Framework</h1>
                <div class="star-divider">
                <span>
                    <i class="fa-solid fa-star pt-2"></i>
                </span>
               
                </div>
                <p class="pt-2">Graphic Artist - Web Designer - Illustrator</p>
            
        </div>
    </section>